.main-forum-detail {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  max-height: 1000px;
  overflow-y: auto;
  display: block;
}
.details h5{
font-weight: 600;
}
.main-forum-detail-1 {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);

  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  display: block;
  margin-top: 13rem;
}

.main-forum-detail-1 p{
  color:#2d2d2d;
}
.profile-img {
  border: 2px solid black;
  border-radius: 50%;
}
.event-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.event-card {
  width: 280px;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  border: 1px solid blue;
}
.event-title {
  font-weight: bold;
  margin: 10px 0;
  background: linear-gradient(90deg, #0771ef 0%, #15aafc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.event-price {
  font-size: 16px;
  color: #007bff;
  font-weight: bold;
}

.btn-registerr {
  background: linear-gradient(
    -90deg,
    rgba(1, 181, 255, 1) 0%,
    rgba(12, 61, 242, 1) 100%
  );
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 14px;
  text-decoration: none;
  width:100%;
}

.btn-register:hover {
  border: 1px solid #007bff;
  color: #007bff;
}
