.custom-table-responsive {
  /* background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(4px); */
  border-radius: 10.99px;
  padding: 0;
  box-shadow: none;
  overflow: auto;
  height: 442px;

}

/* Remove spacing and collapse borders */
.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  border-radius: 10.99px;
  overflow: hidden;
}

/* Table header */
.custom-table thead th {
  background-color: #ffffff;
  font-weight: 600;
  padding: 16px;
  text-align: left;
  color: #1f1f1f;
  border-bottom: 1px solid #e0e0e0;   
  border-right: 2px solid #e0e0e0;
}

/* Table body cells */
.custom-table tbody td {
  background-color: #ffffff;
  padding: 16px;
  color: #1f1f1f;
  border: none;
}

/* Zebra stripe effect */
.custom-table tbody tr:nth-child(even) td {
  background-color: #f7f7f7;
}

/* Rounded corners on the table itself */
.custom-table thead tr:first-child th:first-child {
  border-top-left-radius: 10.99px;
}

.custom-table thead tr:first-child th:last-child {
  border-top-right-radius: 10.99px;
}
.custom-table thead th:last-child {
  border-right: none !important;
}

.custom-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10.99px;
}

.custom-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10.99px;
}